---
import AssetCard from "@/components/AssetCard.jsx";
import CreateButton from "@/components/CreateButton.jsx";
import Filters from "@/components/Filters.jsx";
import Header from "@/components/Header.jsx";
import SearchBar from "@/components/SearchBar.jsx";
import Sort from "@/components/Sort.jsx";
import Layout from "@/layouts/Layout.astro";

const head = import.meta.env.DEV
  ? "http://localhost:4321"
  : "https://asset-browser-aczw.vercel.app";

const response = await fetch(
  `${head}/api/v1/asset/getCommitMetadata?assetName=dummy&version=01.00.00`,
  {
    method: "GET",
  }
);

if (response.ok) {
  console.log(await response.json());
} else {
  const { status, statusText } = response;
  console.error(`${status}: ${statusText}`);
}
---

<Layout>
  <div id="container">
    <Header client:only="react" />

    <div style="display: flex; justify-content: space-between; width: 100%; align-items: center">
      <SearchBar client:only="react" />
      <CreateButton client:only="react" />
    </div>

    <div style="display: flex; justify-content: space-between; width: 100%">
      <Filters client:only="react" />
      <Sort client:only="react" />
    </div>

    <div style="width:100%; margin: 2%">
      <AssetCard
        client:only="react"
        name="Sitting Moomin"
        thumbnail="../../thumbnails/thumbnail.png"
      />
    </div>
  </div>
</Layout>
